.margin-top-lg{
    margin-top:65px;
}

#choropleth{
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    min-height: 450px;
}

.svg-content{
    display: inline-block;
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
}

.card-header {
    text-transform: uppercase;
    font-weight: normal;
    font-family: "Montserrat", arial, sans-serif;
    text-align: center;
    padding: .25rem .25rem;
    margin-bottom: 0;
    background-color: #f5f5f5;
    color: #000;
    border-bottom: 1px solid rgba(0,0,0,.125);
    z-index: 100;
}

.card-header a{
    color: black;
    text-decoration: none;
}
.card-header a:hover{
    color:steelblue;
}


.container-fluid  .btn-group-vertical > .btn {
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 6px 12px   ;
    letter-spacing: 0px;
}