.margin-top-lg{
    margin-top:65px;
}

#choropleth{
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    min-height: 450px;
}

.svg-content{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#year-chart{
    width: 100%;
    min-height: 50px;
    overflow: hidden;
    padding-left: 20px;
}

#wordcloud{
    width: 100%;
    min-height: 350px;
    overflow: hidden;
    padding-left: 20px;
}

.tooltip {
    position:fixed;
    max-width: 300px;
    right: 20px;
    top: 20%;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4;
    filter: alpha(opacity=0);
    opacity: 0;
}

.tooltip > h3 {
    margin-top: 5px;
    margin-bottom: 2px;
    color: #f5f5f5;
}

.card-header {
    text-transform: uppercase;
    font-weight: normal;
    font-family: "Montserrat", arial, sans-serif;
    text-align: center;
    padding: .25rem .25rem;
    margin-bottom: 0;
    background-color: #f5f5f5;
    color: #000;
    border-bottom: 1px solid rgba(0,0,0,.125);
    z-index: 100;
}

.card-header a{
    color: black;
    text-decoration: none;
}
.card-header a:hover{
    color:steelblue;
}


.container-fluid  .btn-group-vertical > .btn {
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 6px 12px   ;
    letter-spacing: 0px;
}


.track-table {
    /*table-layout:fixed;*/
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

h2 {
    text-align: center;
}

th {
    /*background-color: black;*/
    color: black;
}
tr, th{
    border: 1px solid #bbb;
    text-align: center;
    padding: 8px;
}
td{
    padding: 0px 0px 3px 5px;
    text-align: center;
    vertical-align: middle;
    margin:0px;
    border:1px solid #bbb;
    /*white-space:nowrap;*/
}
tr:hover{background-color:#f5f5f5}
.pagination_btns {
    padding: 10px;
}
.but{
    width:120px;
    height:40px;
}

#table-chart{
    overflow: auto;
    padding: 10px 20px 10px 20px;
}

#recordTable{
    width:100%;
    height:100%;
}

tr, td {
    text-align: left;
}

.length,
.length-inset,
.length-overlay,
.track-slider {
    stroke-linecap: round;
}

.length {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.length-inset {
    stroke: #ddd;
    stroke-width: 8px;
}

.length-overlay,
.track-slider {
    pointer-events: stroke;
    stroke-width: 50px;
    cursor: crosshair;
}